<a href="https://colab.research.google.com/github/josesg998/competencia_properati/blob/main/TP_Individual.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import sklearn as sk
from sklearn import model_selection
from sklearn import ensemble
from sklearn import metrics

In [11]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

# Lectura de datos

In [ ]:
#DIR = "/content/drive/MyDrive/Data Mining Properati/"

#df_train = pd.read_feather(DIR + 'properati_entrenamiento.ftr').set_index('id')
#df_test = pd.read_feather(DIR + "properati_a_predecir.ftr").set_index('id')

In [14]:
#df_train = pd.read_csv(DIR + "properati_entrenamiento.zip", index_col="id")  
#df_train.head()

# df_test = pd.read_csv(DIR + "properati_a_predecir.zip", index_col="id")  
#df_test.head()

# df_train = pd.read_csv('bases/properati_entrenamiento.csv',index_col='id')
# df_test = pd.read_csv('bases/properati_a_predecir.csv',index_col='id')
# df_test.head()

# df_train.reset_index(drop=False).to_feather('bases/properati_entrenamiento.ftr')
# df_test.reset_index(drop=False).to_feather('bases/properati_a_predecir.ftr')

In [2]:
df_train = pd.read_feather('bases/properati_entrenamiento.ftr').set_index('id')
df_test = pd.read_feather('bases/properati_a_predecir.ftr').set_index('id')
df_train.head(3)

,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,l4,...,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
id,,,,,,,,,,,,,,,,,,,,,
1,Propiedad,2019-07-07,2019-07-10,2019-07-07,NaN,NaN,Argentina,Buenos Aires Interior,Urquiza,Urquiza,...,NaN,NaN,NaN,3800.0,ARS,Mensual,COCHERA EN ALQUILER,Xintel (SLC-SI1-560) Alquiler de Cochera en CA...,Cochera,Alquiler
2,Propiedad,2019-07-07,9999-12-31,2019-07-07,-64.184812,-31.421307,Argentina,Córdoba,Córdoba,None,...,NaN,12.0,12.0,16000.0,USD,Mensual,Cochera venta,VENDO COCHERA- EXCELENTE UBICACIÓN! Calle Buen...,Cochera,Venta
3,Propiedad,2019-07-07,2019-07-09,2019-07-07,-57.965880,-34.902568,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,La Plata,...,NaN,12.0,NaN,16000.0,USD,None,Cochera cubierta con portón automatizado en ve...,Cochera Cubierta en venta ubicada en calle 7 e...,Cochera,Venta

# Entendimiento (magia parte 1 -- AID)

In [3]:
df = pd.concat((df_train,df_test))

In [4]:
df_train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ad_type,994000,1,Propiedad,994000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
start_date,994000,346,2020-03-21,13171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
end_date,994000,450,9999-12-31,190441,NaN,NaN,NaN,NaN,NaN,NaN,NaN
created_on,994000,346,2020-03-21,13171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lat,840826.0,NaN,NaN,NaN,-59.264786,2.704534,-180.0,-58.754528,-58.44429,-58.069144,-35.045025
lon,841760.0,NaN,NaN,NaN,-34.793299,3.062879,-54.842464,-34.920924,-34.610161,-34.460719,85.051129
l1,994000,4,Argentina,975230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l2,994000,42,Capital Federal,251843,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l3,936714,1262,Mar del Plata,158074,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l4,225232,976,Nordelta,17310,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l5,4711,21,Barrio Los Alisos,764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rooms,504328.0,NaN,NaN,NaN,2.857014,1.686293,1.0,2.0,3.0,4.0,40.0
bedrooms,391380.0,NaN,NaN,NaN,2.090465,2.704305,-13.0,1.0,2.0,3.0,900.0
bathrooms,774749.0,NaN,NaN,NaN,1.697854,1.072889,1.0,1.0,1.0,2.0,20.0
surface_total,451104.0,NaN,NaN,NaN,490.64964,4087.239535,-200.0,50.0,94.0,268.0,200000.0
surface_covered,439770.0,NaN,NaN,NaN,573.643395,73603.751055,-170.0,45.0,75.0,155.0,27000000.0
price,949619.0,NaN,NaN,NaN,288102.753065,5555581.542794,0.0,39000.0,98000.0,210000.0,3100000000.0
currency,946749,4,USD,724508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price_period,368024,3,Mensual,367921,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,993972,455373,Departamento de 2 ambientes en Venta en Villa ...,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,993978,638928,Departamento en Venta de 1 dorm. en Cordoba,1677,NaN,NaN,NaN,NaN,NaN,NaN,NaN
property_type,994000,10,Departamento,377054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
operation_type,994000,3,Venta,764126,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 994000 entries, 1 to 1000000
Data columns (total 24 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ad_type          994000 non-null  object
 1   start_date       994000 non-null  object
 2   end_date         994000 non-null  object
 3   created_on       994000 non-null  object
 4   lat              840826 non-null  float64
 5   lon              841760 non-null  float64
 6   l1               994000 non-null  object
 7   l2               994000 non-null  object
 8   l3               936714 non-null  object
 9   l4               225232 non-null  object
 10  l5               4711 non-null    object
 11  l6               0 non-null       float64
 12  rooms            504328 non-null  float64
 13  bedrooms         391380 non-null  float64
 14  bathrooms        774749 non-null  float64
 15  surface_total    451104 non-null  float64
 16  surface_covered  439770 non-null  float64
 17  price            949619 non-null  float64
 18  currency         946749 non-null  object
 19  price_period     368024 non-null  object
 20  title            993972 non-null  object
 21  description      993978 non-null  object
 22  property_type    994000 non-null  object
 23  operation_type   994000 non-null  object
dtypes: float64(9), object(15)
memory usage: 189.6+ MB

In [7]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ad_type,1000000,1,Propiedad,1000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
start_date,1000000,346,2020-03-21,13194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
end_date,1000000,450,9999-12-31,191629,NaN,NaN,NaN,NaN,NaN,NaN,NaN
created_on,1000000,346,2020-03-21,13194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lat,846370.0,NaN,NaN,NaN,-59.259418,2.696735,-180.0,-58.750954,-58.443991,-58.087463,-35.045025
lon,847305.0,NaN,NaN,NaN,-34.792021,3.052942,-54.842464,-34.919763,-34.609836,-34.464277,85.051129
l1,1000000,4,Argentina,981230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l2,1000000,42,Capital Federal,257546,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l3,942503,1262,Mar del Plata,158074,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l4,225691,976,Nordelta,17310,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l5,4711,21,Barrio Los Alisos,764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
l6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rooms,510328.0,NaN,NaN,NaN,2.852848,1.677662,1.0,2.0,3.0,4.0,40.0
bedrooms,396315.0,NaN,NaN,NaN,2.083227,2.6888,-13.0,1.0,2.0,3.0,900.0
bathrooms,780531.0,NaN,NaN,NaN,1.694727,1.070499,1.0,1.0,1.0,2.0,20.0
surface_total,455880.0,NaN,NaN,NaN,486.472545,4066.889403,-200.0,50.0,93.0,264.0,200000.0
surface_covered,444649.0,NaN,NaN,NaN,568.198015,73198.880321,-170.0,45.0,74.0,153.0,27000000.0
price,949619.0,NaN,NaN,NaN,288102.753065,5555581.542794,0.0,39000.0,98000.0,210000.0,3100000000.0
currency,952749,4,USD,730508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price_period,369939,3,Mensual,369836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,999972,457672,Departamento de 2 ambientes en Venta en Villa ...,2156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,999978,642701,Departamento en Venta de 1 dorm. en Cordoba,1677,NaN,NaN,NaN,NaN,NaN,NaN,NaN
property_type,1000000,10,Departamento,382480,NaN,NaN,NaN,NaN,NaN,NaN,NaN
operation_type,1000000,3,Venta,770126,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 1 to 757314
Data columns (total 24 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   ad_type          1000000 non-null  object
 1   start_date       1000000 non-null  object
 2   end_date         1000000 non-null  object
 3   created_on       1000000 non-null  object
 4   lat              846370 non-null   float64
 5   lon              847305 non-null   float64
 6   l1               1000000 non-null  object
 7   l2               1000000 non-null  object
 8   l3               942503 non-null   object
 9   l4               225691 non-null   object
 10  l5               4711 non-null     object
 11  l6               0 non-null        float64
 12  rooms            510328 non-null   float64
 13  bedrooms         396315 non-null   float64
 14  bathrooms        780531 non-null   float64
 15  surface_total    455880 non-null   float64
 16  surface_covered  444649 non-null   float64
 17  price            949619 non-null   float64
 18  currency         952749 non-null   object
 19  price_period     369939 non-null   object
 20  title            999972 non-null   object
 21  description      999978 non-null   object
 22  property_type    1000000 non-null  object
 23  operation_type   1000000 non-null  object
dtypes: float64(9), object(15)
memory usage: 190.7+ MB

# Limpieza y transformación de datos (magia parte 2 -- MD)

In [ ]:
## esto tiene que hacerse mejor
df_train.fillna(0, inplace=True, downcast= "infer")
df_test.fillna(0, inplace=True, downcast= "infer")

(11100, 24)

In [ ]:
# Funcion de limpieza (usada en la siguiente sección) que usa y_train
def limpiar_fold(X_train, y_train, X_test):
    ## TODO: limpiar los datos

    return (X_train, y_train, X_test)

# Entrenamiento del modelo

## Territorio de Aprendizaje Automático
☢☢☢☢☢☢ Se mira y no se toca ☢☢☢☢☢☢☢

In [ ]:
# Datos para probar
df_train = df_train.select_dtypes(include=['float64' ,'float32','int64', 'int32', 'int16', 'int8', 'bool'])

X = df_train[df_train.columns.drop('price')]
y = df_train['price']

In [ ]:
# Creamos el modelo
reg = sk.ensemble.RandomForestRegressor(n_estimators=500, max_depth=5, n_jobs=-1, random_state=42)

# Partimos en entrenamiento+prueba y validación
X_train_test, X_val, y_train_test, y_val = sk.model_selection.train_test_split(X, y, test_size=0.2, random_state=42)

scores_train = []
scores_test = []
# Validación cruzada, 10 folds, shuffle antes
kf = sk.model_selection.KFold(n_splits=10, shuffle=True, random_state=42)
for fold, (train_index, test_index) in enumerate(kf.split(X_train_test, y_train_test)):
    X_train, X_test, y_train, y_test = X_train_test.iloc[train_index], X_train_test.iloc[test_index], y_train_test.iloc[train_index], y_train_test.iloc[test_index]

    X_train, y_train, X_test = limpiar_fold(X_train, y_train, X_test)

    # Entrenamos el modelo
    reg.fit(X_train, y_train)

    # Predecimos en train
    y_pred = reg.predict(X_train)

    # Medimos la performance de la predicción en test
    score_train = sk.metrics.mean_squared_error(y_train, y_pred)
    scores_train.append(score_train)

    # Predecimos en test
    y_pred = reg.predict(X_test)    

    # Medimos la performance de la predicción en test
    score_test = sk.metrics.mean_squared_error(y_test, y_pred)
    scores_test.append(score_test)
    
    print(f"{fold=}, {score_train=} {score_test=}")
    

print(f"Train scores mean={pd.Series(scores_train).mean()}, std={pd.Series(scores_train).std()}")
print(f"Test scores mean={pd.Series(scores_test).mean()}, std={pd.Series(scores_test).std()}")

NameError: name 'limpiar_fold' is not defined

# Predicción para kaggle

In [ ]:
## Datos a predecir 
X = df_train[df_train.columns.drop('price')]
y = df_train['price']
X_prueba = df_test[df_train.columns.drop('price')] # cuidado:

# Entrenamos el modelo con todos los datos
reg.fit(X, y)

# Predecimos
df_test['price'] = reg.predict(X_prueba)

# Grabamos
df_test['price'].to_csv('solucion.csv', index=True)

In [ ]:
pd.DataFrame(zip(df_train.columns.drop('price'), reg.feature_importances_), columns=["column", "feature_importance"]).sort_values(by="feature_importance", ascending=False)

            column  feature_importance
1              lon            0.284658
0              lat            0.212267
4            rooms            0.141806
8  surface_covered            0.125101
5         bedrooms            0.095744
7    surface_total            0.073814
6        bathrooms            0.066611
2               l5            0.000000
3               l6            0.000000